/*!
 *  Smart Sense Font Icon Set
 *
 *  http://www.smart-sense.hr
 */
@font-face{
  font-family:'SmartSenseIconSet';
  src: url('./SmartSenseIconSet.woff') format('woff'),
       url('./SmartSenseIconSet.ttf') format('truetype');
}
.si{
  display:inline-block;
  font:normal normal normal 14px/1 SmartSenseIconSet;
  font-size:inherit;
  font-weight:normal;
  font-style:normal;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.si-lg{
  font-size:1.33333333em;
  line-height:.75em;
  vertical-align:-15%
}
.si-2x{font-size:2em}
.si-2_5x{font-size:2.5em}
.si-3x{font-size:3em}
.si-4x{font-size:4em}
.si-5x{font-size:5em}
.si-fw{width:1.28571429em;text-align:center}
.si-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}
.si-ul>li{position:relative}
.si-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}
.si-li.si-lg{left:-1.85714286em}
.si-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}
.si-pull-left{float:left}
.si-pull-right{float:right}
.si.si-pull-left{margin-right:.3em}
.si.si-pull-right{margin-left:.3em}
.pull-right{float:right}
.pull-left{float:left}
.si.pull-left{margin-right:.3em}
.si.pull-right{margin-left:.3em}
.si-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}
.si-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}
@-webkit-keyframes fa-spin{
  0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
  100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
@keyframes fa-spin{
  0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
  100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
.si-rotate-0{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0)";-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}
.si-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.si-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.si-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
.si-rotation-aware{transition: transform .5s ease-in-out;-moz-transition: -moz-transform .5s ease-in-out;-webkit-transition: -webkit-transform .5 ease-in-out;}
.si-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}
.si-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}
:root .si-rotate-90,:root .si-rotate-180,:root .si-rotate-270,:root .si-flip-horizontal,:root .si-flip-vertical{filter:none}
.si-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}
.si-stack-1x,.si-stack-2x{position:absolute;left:0;width:100%;text-align:center}
.si-stack-1x{line-height:inherit}
.si-stack-2x{font-size:2em}
.si-black{color:#000}
.si-inverse{color:#fff}

.si-add:before{content:"\e600"}
.si-arrow:before{content:"\e601"}
.si-arrow-left:before{content:"\e602"}
.si-caledar:before{content:"\e603"}
.si-camera:before{content:"\e604"}
.si-checkmark:before{content:"\e605"}
.si-x:before{content:"\e606"}
.si-dashboard:before{content:"\e607"}
.si-fall:before{content:"\e608"}
.si-graph:before{content:"\e609"}
.si-helpdesk:before{content:"\e60a"}
.si-history:before{content:"\e60b"}
.si-humidity:before{content:"\e60c"}
.si-list:before{content:"\e60d"}
.si-location:before{content:"\e60e"}
.si-logout:before{content:"\e60f"}

.si-media:before{content:"\e610"}
.si-working-mode:before{content:"\e611"}
.si-motion:before{content:"\e612"}
.si-power:before{content:"\e613"}
.si-profile:before{content:"\e614"}
.si-question:before{content:"\e615"}
.si-radio:before{content:"\e616"}
.si-radio-checked:before{content:"\e617"}
.si-rule-check:before{content:"\e618"}
.si-sensors:before{content:"\e619"}
.si-settings-web:before{content:"\e61a"}
.si-temperature:before{content:"\e61b"}
.si-users:before{content:"\e61c"}
.si-notification-ring:before{content:"\e61d"}
.si-pdf:before{content:"\e61e"}
.si-csv:before{content:"\e61f"}

.si-co2:before{content:"\e620"}
.si-calendar-time:before{content:"\e621"}
.si-notification:before{content:"\e622"}
.si-message:before{content:"\e623"}
.si-arrow-light-left:before{content:"\e624"}
.si-arrow-left-2:before{content:"\e625"}
.si-arrow-light:before{content:"\e626"}
.si-arrow-2:before{content:"\e627"}
.si-checkmark-2:before{content:"\e628"}
.si-history-2:before{content:"\e629"}
.si-printer:before{content:"\e62a"}
.si-dashboard-2:before{content:"\e62b"}
.si-add-2:before{content:"\e62c"}
.si-graph-2:before{content:"\e62d"}
.si-helpdesk-2:before{content:"\e62e"}
.si-calendar-2:before{content:"\e62f"}

.si-camera-2:before{content:"\e630"}
.si-camera-variant-0:before{content:"\e631"}
.si-users-2:before{content:"\e632"}
.si-list-2:before{content:"\e633"}
.si-logout-2:before{content:"\e634"}
.si-location-2:before{content:"\e635"}
.si-no-image:before{content:"\e636"}
.si-media-2:before{content:"\e637"}
.si-working-mode-2:before{content:"\e638"}
.si-fall-2:before{content:"\e639"}
.si-printer-2:before{content:"\e63a"}
.si-motion-2:before{content:"\e63b"}
.si-settings-web-2:before{content:"\e63c"}
.si-history-3:before{content:"\e63d"}
.si-profile-2:before{content:"\e63e"}
.si-radio-2:before{content:"\e63f"}

.si-radio-checked-2:before{content:"\e640"}
.si-rule-check-2:before{content:"\e641"}
.si-sensors-2:before{content:"\e642"}
.si-temperature-2:before{content:"\e643"}
.si-question-2:before{content:"\e644"}
.si-power-2:before{content:"\e645"}
.si-humidity-2:before{content:"\e646"}
.si-x-2:before{content:"\e647"}
.si-camera-3:before{content:"\e648"}
.si-fall-3:before{content:"\e649"}
.si-temperature-3:before{content:"\e64a"}
.si-power-3:before{content:"\e64b"}
.si-humidity-3:before{content:"\e64c"}
.si-camera-4:before{content:"\e64d"}
.si-camera-variant-0-2:before{content:"\e64e"}
.si-camera-variant-1:before{content:"\e64f"}

.si-camera-variant-2:before{content:"\e650"}
.si-camera-variant-3:before{content:"\e651"}
.si-camera-variant-4:before{content:"\e652"}
.si-camera-variant-5:before{content:"\e653"}
.si-fall-variant-0:before{content:"\e654"}
.si-fall-variant-1:before{content:"\e655"}
.si-run-variant-0:before{content:"\e656"}
.si-run-variant-1:before{content:"\e657"}
.si-temperature-variant-0:before{content:"\e658"}
.si-temperature-variant-1:before{content:"\e659"}
.si-power-variant-0:before{content:"\e65a"}
.si-power-variant-1:before{content:"\e65b"}
.si-humidity-variant-0:before{content:"\e65c"}
.si-humidity-variant-1:before{content:"\e65d"}
.si-message-variant-0:before{content:"\e65e"}
.si-light-bulb-1-inclined:before{content:"\e65f"}

.si-light-bulb-1:before{content:"\e660"}
.si-light-bulb-2-inclined:before{content:"\e661"}
.si-light-bulb-2:before{content:"\e662"}
.si-light-bulb-3-inclined:before{content:"\e663"}
.si-light-bulb-3:before{content:"\e664"}
.si-light-bulb-4-inclined:before{content:"\e665"}
.si-light-bulb-4:before{content:"\e666"}
.si-light-bulb-5-inclined:before{content:"\e667"}
.si-light-bulb-5:before{content:"\e668"}
.si-light-bulb-6-inclined:before{content:"\e669"}
.si-light-bulb-6:before{content:"\e66a"}
.si-light-bulb-7-inclined:before{content:"\e66b"}
.si-light-bulb-7:before{content:"\e66c"}
.si-light-bulb-8-inclined:before{content:"\e66d"}
.si-light-bulb-8:before{content:"\e66e"}
.si-menu:before{content:"\e66f"}

.si-settings-ios:before{content:"\e670"}
.si-warning:before{content:"\e671"}
.si-history-ios:before{content:"\e672"}
.si-rules-ios:before{content:"\e673"}
.si-rules-ios-variant-1:before{content:"\e674"}
.si-circle:before{content:"\e675"}
.si-battery:before{content:"\e676"}
.si-reading-interval:before{content:"\e677"}
.si-reset-ring:before{content:"\e678"}
.si-arrow-save:before{content:"\e679"}
.si-color-palette-ring:before{content:"\e67a"}
.si-color-palette:before{content:"\e67b"}
.si-latest-reading:before{content:"\e67c"}
.si-level-slider:before{content:"\e67d"}
.si-video-recorder:before{content:"\e67e"}
.si-photo-camera:before{content:"\e67f"}

.si-sensor-location:before{content:"\e680"}
.si-arrow-up:before{content:"\e681"}
.si-arrow-down:before{content:"\e682"}
.si-time-hands:before{content:"\e683"}
.si-filter:before{content:"\e684"}
.si-arrow-ios:before{content:"\e685"}
.si-arrow-left-ios:before{content:"\e686"}
.si-column-sort:before{content:"\e687"}
.si-column-sort-up:before{content:"\e688"}
.si-column-sort-down:before{content:"\e689"}
.si-call-center:before{content:"\e68a"}
.si-technical-support:before{content:"\e68b"}
.si-warning-triangle:before{content:"\e68c"}
.si-smart-home-circle:before{content:"\e68d"}
.si-info-bubble:before{content:"\e68e"}
.si-gateway:before{content:"\e68f"}

.si-user-profile:before{content:"\e690"}
.si-setup-camera:before{content:"\e691"}
.si-setup-camera-checked:before{content:"\e692"}
.si-setup-camera-error:before{content:"\e693"}
.si-setup-gateway:before{content:"\e694"}
.si-setup-gateway-error:before{content:"\e695"}
.si-setup-sensor-info:before{content:"\e696"}
.si-setup-user:before{content:"\e697"}
.si-setup-done:before{content:"\e698"}
.si-setup-circle-default-background:before{content:"\e699"}
.si-setup-circle-circle-background:before{content:"\e69a"}
.si-setup-circle-bubble-background:before{content:"\e69b"}
.si-arrow-filled:before{content:"\e69c"}
.si-arrow-left-filled:before{content:"\e69d"}
.si-netatmo-thermostat:before{content:"\e69e"}
.si-netatmo-thermostat-inverted:before{content:"\e69f"}

.si-netatmo-thermostat-variant-1:before{content:"\e6a0"}
.si-plus:before{content:"\e6a1"}
.si-minus:before{content:"\e6a2"}
.si-cancel:before{content:"\e6a3"}
.si-door-variant-1:before{content:"\e6a4"}
.si-door-variant-2:before{content:"\e6a5"}
.si-door-variant-3:before{content:"\e6a6"}
.si-window-variant-1:before{content:"\e6a7"}
.si-window-variant-2:before{content:"\e6a8"}
.si-sensor-opend-closed:before{content:"\e6a9"}
.si-water-variant-1:before{content:"\e6aa"}
.si-water-variant-2:before{content:"\e6ab"}
.si-water-variant-3:before{content:"\e6ac"}
.si-water-variant-4:before{content:"\e6ad"}
.si-offline-cloud-1:before{content:"\e6ae"}
.si-offline-cloud-2:before{content:"\e6af"}

.si-offline-cloud-3:before{content:"\e6b0"}
.si-offline-wifi-1:before{content:"\e6b1"}
.si-offline-wifi-2:before{content:"\e6b2"}
.si-cityscope-logo:before{content:"\e6b3"}
.si-cityscope-big-bullet:before{content:"\e6b4"}
.si-cityscope-clock:before{content:"\e6b5"}
.si-cityscope-arrow_up:before{content:"\e6b6"}
.si-cityscope-arrow-left:before{content:"\e6b7"}
.si-cityscope-arrow-down:before{content:"\e6b8"}
.si-cityscope-arrow-right:before{content:"\e6b9"}
.si-cityscope-home:before{content:"\e6ba"}
.si-cityscope-location:before{content:"\e6bb"}
.si-cityscope-menu:before{content:"\e6bc"}
.si-cityscope-wrench:before{content:"\e6bd"}
.si-cityscope-exclamation-round:before{content:"\e6be"}
.si-cityscope-exclamation-triangle:before{content:"\e6bf"}

.si-cityscope-question-round:before{content:"\e6c0"}
.si-cityscope-x-close:before{content:"\e6c1"}
.si-cityscope-aqi:before{content:"\e6c2"}
.si-cityscope-e-station:before{content:"\e6c3"}
.si-cityscope-parking:before{content:"\e6c4"}
.si-cityscope-recycle-bin:before{content:"\e6c5"}
.si-cityscope-street-light:before{content:"\e6c6"}
.si-cityscope-surveillance:before{content:"\e6c7"}
.si-smart-sense:before{content:"\e6c8"}
.si-electric-meter-variant-1:before{content:"\e6c9"}
.si-electric-meter-variant-2:before{content:"\e6ca"}
.si-electric-meter-variant-3:before{content:"\e6cb"}
.si-trend-up-variant-1:before{content:"\e6cc"}
.si-trend-down-variant-1:before{content:"\e6cd"}
.si-trend-up-variant-2:before{content:"\e6ce"}
.si-trend-down-variant-2:before{content:"\e6cf"}

.si-graph-aqi:before{content:"\e6d0"}
.si-graph-measurement:before{content:"\e6d1"}
.si-calendar-day:before{content:"\e6d2"}
.si-calendar-week:before{content:"\e6d3"}
.si-calendar-month:before{content:"\e6d4"}
.si-calendar-custom:before{content:"\e6d5"}
.si-air-q:before{content:"\e6d56"}
.si-co-black:before{content:"\e6d7"}
.si-no2-black:before{content:"\e6d8"}
.si-no-black:before{content:"\e6d9"}
.si-o3-black:before{content:"\e6da"}
.si-pm10-black:before{content:"\e6db"}
.si-pm1-black:before{content:"\e6dc"}
.si-pm25-black:before{content:"\e6dd"}
.si-so2-black:before{content:"\e6de"}
.si-co-white:before{content:"\e6df"}

.si-no2-white:before{content:"\e6e0"}
.si-no-white:before{content:"\e6e1"}
.si-o3-white:before{content:"\e6e2"}
.si-pm10-white:before{content:"\e6e3"}
.si-pm1-white:before{content:"\e6e4"}
.si-pm25-white:before{content:"\e6e5"}
.si-so2-white:before{content:"\e6e6"}
.si-cityscope-bench:before{content:"\e6e7"}
.si-cityscope-new-window:before{content:"\e6e8"}
.si-nh3-black:before{content:"\e6e9"}
.si-h2s-black:before{content:"\e6ea"}
.si-ch3sh-black:before{content:"\e6eb"}
.si-undefined-black:before{content:"\e6ec"}
.si-nh3-white:before{content:"\e6ed"}
.si-h2s-white:before{content:"\e6ee"}
.si-ch3sh-white:before{content:"\e6ef"}

.si-undefined-white:before{content:"\e6f0"}
.si-air-q-variant-1:before{content:"\e6f1"}
.si-air-q-variant-1:before{content:"\e6f2"}
.si-map-air-q:before{content:"\e6f3"}
.si-map-mep:before{content:"\e6f4"}
.si-electro-magnetic-field:before{content:"\e6f5"}
.si-band-tetra:before{content:"\e6f6"}
.si-band-tv:before{content:"\e6f7"}
.si-band-lte:before{content:"\e6f8"}
.si-band-gsm:before{content:"\e6f9"}
.si-band-fm:before{content:"\e6fa"}
.si-band-dcs:before{content:"\e6fb"}
.si-band-umts:before{content:"\e6fc"}
.si-band-wifi:before{content:"\e6fd"}
.si-band-vip-net:before{content:"\e6fe"}
.si-graph-qi:before{content:"\e6ff"}

.si-noise-variant-1:before{content:"\e700"}
.si-noise-variant-2:before{content:"\e701"}
.si-wind-direction-variant-1:before{content:"\e702"}
.si-wind-direction-variant-2:before{content:"\e703"}
.si-voc-black:before{content:"\e704"}
.si-voc-white:before{content:"\e705"}
.si-luminous-intensity-black:before{content:"\e706"}
.si-luminous-intensity-white:before{content:"\e707"}
.si-battery-energy-saving:before{content:"\e708"}
.si-co2-black:before{content:"\e709"}
.si-co2-white:before{content:"\e70a"}
.si-co2-rain-variant-1:before{content:"\e70b"}
.si-co2-rain-variant-2:before{content:"\e70c"}
.si-band-5g:before{content:"\e70d"}
.si-band-dab:before{content:"\e70e"}
.si-band-dvb-t:before{content:"\e70f"}

.si-band-dvb-t2:before{content:"\e710"}
.si-wind-default:before{content:"\e711"}
.si-c2h6s-black:before{content:"\e712"}
.si-c2h6s-white:before{content:"\e713"}
.si-cityscope-bicycle:before{content:"\e714"}
.si-pmeter-WA:before{content:"\e715"}
.si-pmeter-WR:before{content:"\e716"}
.si-pmeter-P:before{content:"\e717"}
.si-pmeter-P1:before{content:"\e718"}
.si-pmeter-P2:before{content:"\e719"}
.si-pmeter-P3:before{content:"\e71a"}
.si-pmeter-Q:before{content:"\e71b"}
.si-pmeter-Q1:before{content:"\e71c"}
.si-pmeter-Q2:before{content:"\e71d"}
.si-pmeter-Q3:before{content:"\e71e"}
.si-pmeter-U:before{content:"\e71f"}

.si-pmeter-U1:before{content:"\e720"}
.si-pmeter-U2:before{content:"\e721"}
.si-pmeter-U3:before{content:"\e722"}
.si-smart-sense-logo:before{content:"\e723"}